# Python
backend/venv/
backend/instance/
backend/__pycache__/
*.pyc

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
*.apk
*.aab

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
